.AddMeal-header {
    font-size: 25px;
    margin: 10px;
}

.back-button {
  margin: 15px;
}

.delete-food-item {
  margin-bottom: 5px;
}

.food-desc {
  margin: 5px;
}

.food-item {
  margin: 15px;
  font-size: 18px
}

#meals {
  margin: 10px;
}
